*{
	margin: 0;
	padding: 0;
}

body{
	background-image: linear-gradient(to right, #30CFD0 50%, #330867 50%);
	background-attachment: fixed;
}


.lettervakjes{
	border: 1px solid black;
	display: inline-block;
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-size: 20px;
	background-color: white;
}

#letters{
	position: absolute;
	top: 230px;
	left: 640px;
}

#DivR2{
	position: absolute;
	top: 282px;
	left: 640px;

}

#DivR3{
	position: absolute;
	top: 334px;
	left: 640px;

}

#DivR4{
	position: absolute;
	top: 386px;
	left: 640px;


}

#DivR5{
	position: absolute;
	top: 438px;
	left: 640px;


}

#T1Div{
	background-color: rgba(244, 244, 244, 0.5);
	width: 350px;
	height: 300px;
	position: absolute;
	top:  300px;
	left: 100px;
}


#T2Div{
	background-color: rgba(244, 244, 244, 0.5);
	width: 350px;
	height: 300px;
	position: absolute;
	top: 300px;
	right: 100px;
}

#LingoTxt {
	
	position: absolute;
	top: 50px;
	left: 618px;
    background: linear-gradient(to right, #330867 50%,#30CFD0 50% );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	font-size: 100px;
	font-weight: 900;
	font-family: 'Anton', sans-serif;
}

#userinput{
	z-index: 5;
	border: 1px solid #5c5b5b;
	height: 20px;
	color: black;
	padding-left: 5px;
	margin-left: 15px;
}


#TTxt1{
	font-size: 30px;
	text-align: center;
	font-family: 'Anton', sans-serif;
	color: #330867;
	font-weight: 900;
}

#TTxt2{
	font-size: 30px;
	text-align: center;
	font-family: 'Anton', sans-serif;
	color: #30CFD0;
	font-weight: 900;
}

#button {
	padding-left: 5px;
	padding-right: 5px;
}

#nieuwWoordID {
	top: 334px;
	left: 334px;
	font-size: 25px;
	padding: 10px;
}

#scoreID {
	position: absolute;
	right: 10px;
	font-size: 50px;
}